@use '@carbon/react';
@use '@carbon/layout';

$base-color: #74c0a2;

:root {
  --base-color: #{$base-color};
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --cds-button-primary: #{$base-color};
  --cds-link-primary: #{$base-color};
  --cds-link-primary-hover: #{$base-color};
  --cds-button-primary-active: #{$base-color};
  --cds-button-primary-hover: #{$base-color};
  --cds-focus: #{$base-color};
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  max-width: 650px;
  margin: 0 auto;
  padding: layout.$spacing-05;
}

.cds--dropdown__wrapper {
  .cds--label {
    display: none;
  }
}

.cds--btn--ghost {
  border-color: var(--base-color);
}

.cds--row {
  margin-bottom: layout.$spacing-05;
}

[name='chevron--down'] {
  path {
    fill: var(--base-color);
  }
}
